/*-------------------------------------- COLORS --------------------------------------*/

$color-1: #000044; // Dark Blue
$color-2: #DAFFFA; // pale blue
$color-3: #ffcc20; // yellow
$color-4: #fd5f00; // orange
$color-5: #ffffff; // white
$color-6: #ff7063; // coral
$color-7: #000000; //black
$color-12: #268C15; //slimy green

// Background 
$color-8: #020024; // background dark blue
$color-9: rgba(2,0,36,1);
$color-10:rgba(9,9,121,1);
$color-11:rgba(0,212,255,1);

$transparent-white: rgba(255, 255, 255, 0.5);
$transparent-coral-twoPercent: rgba(255,112,99,0.2);
$transparent-coral-eightPercent: rgba(255,112,99,0.8);