/*-------------------------------------- FONTS --------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bubbler+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre&display=swap');

$header-font: 'Modak', cursive;
$secondary-font: 'Bubbler One', sans-serif;
$primary-font: 'Averia Sans Libre', sans-serif;
