/* Zen summary styling */
#zen-summary {
    display: flex;
    align-items: center;
    justify-items: space-evenly;
    flex-wrap: nowrap;
    padding: 2vw;
    p {
        border-radius: 100%;
        margin: 2vw;
        text-align: center;
    }
    p:nth-of-type(1) {
        width: 60%;
        padding: 0vw 2vw 0vw 8vw;
        }
    p:nth-of-type(2) {
        width: 40%;
        padding: 4vw;
        border: 2px solid $color-11;
        background-color: $transparent-white;
     /* Animate second paragraph */
        animation-name: floating;
        animation-duration: 2.8s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-top: 5px;
        }
}